# dependencies
node_modules/

# build
dist/
build/

# next.js
.next/
out/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# coverage
coverage/

# cache
.eslintcache
.cache/
.parcel-cache/
